@model LoginViewModel

@{
    ViewData["Title"] = "Сторінка авторизації";
}

<br />
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">Авторизація</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">Реєстрація</a>
    </li>
</ul>
<br />

<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <div class="container">
            <h2>Авторизація</h2>
            <form asp-controller="Account" asp-action="Login" method="post">
                <div class="form-group">
                    <label asp-for="Email">Електронна пошта:</label>
                    <input asp-for="Email" class="form-control" placeholder="Введіть електронну пошту">
                </div>
                <div class="form-group">
                    <label asp-for="Password">Пароль:</label>
                    <input asp-for="Password" class="form-control" placeholder="Введіть пароль">
                </div>
                <div class="form-group form-check">
                    <label asp-for="RememberMe" class="form-check-label">
                        <input asp-for="RememberMe" class="form-check-input"> Запамятати мене
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Авторизуватися</button>
            </form>
        </div>
    </div>
    <div class="col-sm-4">
    </div>
</div>
