@{
    ViewData["Title"] = "Основна сторінка";
}

<br />
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">Авторизація</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">Реєстрація</a>
    </li>
</ul>
<br />